* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Yusei Magic',sans-serif;
}

body {
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 40%, #a6c1ee 100%);
}

/* start header */
#navbar {  
   display: flex;
   justify-content: center;
   background-color:#000000;
   box-shadow: 0px 0px 6px #000 ;
   width: 100%;
   height: 50px;
}

.sticky {
    position: fixed ;
    top: 0;
    width: 100%;
  }

.nav {
    display: flex;
    justify-content: space-around;
    width: 20rem;
}
.nav a {
    margin-top: .8rem;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
    text-shadow:1px 2px 2px #000 ;
    color: #ffffff;
}
.nav a:hover {
    cursor: pointer; 
    opacity: .8;
} 
/* end header */

/* start intro */

.intro {
    margin-top: 4.5rem;
    display: flex;
    flex-flow: column;
    justify-items: center;
}
.greeding {
    font-size: 4rem;
    color: #FFF2F2;
    font-style:italic;
    letter-spacing: 0.4rem;
    text-shadow:1px 2px 2px #000 ;
}
.title {
    align-self: center;
    color: #ffffff;
    margin: 3.4rem;
    font-style:italic;
    text-shadow:1px 2px 2px #000 ;
    letter-spacing: 0.4rem;
}
/* end intro */

/* start Homepage */

.des {
    background-image: url("../image/18.jpg");
    background-position: center;
    background-size: 24rem;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
.desinfo{
    text-align: center;
    left: 10%;
    margin-top: 20%;
    color: rgb(226, 226, 226);
    font-size: large;
}
.des2 {
    background-image: url("../image/11.jpg");
    background-position: bottom;
    background-size: 26rem;
    overflow: hidden;
    width: 100%;
    height: 20rem;
    overflow: hidden;
}
.des2info a {
    display: flex;
    justify-content: flex-end;
    margin-top: 13em;
    color: rgb(226, 226, 226);
    font-size: large;
}

.notice {
    background-color: rgb(230, 230, 230);
    padding: 5% 10%;
    text-align: center;
    color: rgb(26, 26, 26);
}

/* slidshow */
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  max-height: 240px;
  overflow: hidden;
  margin: 2rem auto 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/* end slidshow */

.open {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 31rem !important;
    margin-bottom: 1.8rem;
    text-align: center;
}
.aboutxt {
    padding: 12% 10%;
    letter-spacing: .8px;
}
.open {
    width: 100%;
    height: 31rem !important;
    -webkit-animation: animateThis .4s forwards;
    -webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes animateThis {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 100%;
        height: 31rem;

    }
}

  
/* end homepage */

/* start footer */
footer {
    width: 100%;
    margin-top: 5.5rem;
    position: relative;
    height: 4.6rem;
    background-color: #222222;
}
/* end footer */


/********** Large devices only **********/
@media (min-width: 1200px) {
    
  }
  
  /********** Medium devices only (ipadpro) **********/
  @media (min-width: 992px) and (max-width: 1199px) {
    #navbar {  
        display: flex;
        justify-content: center;
        background-color:#000000;
        box-shadow: 0px 0px 6px #000 ;
        width: 100%;
        height: 60px;
     }
     .nav {
        display: flex;
        justify-content: space-around;
        width: 30rem;
    }
    .nav a {
        margin-top: .8rem;
        list-style: none;
        text-decoration: none;
        font-size: 1.8rem;
        text-shadow:1px 2px 2px #000 ;
        color: #ffffff;
    }
    .des {
        background-image: url("../image/18.jpg");
        background-position: center;
        background-size: 64rem;
        overflow: hidden;
        width: 100%;
        height: 40rem;
        overflow: hidden;
    }
    .desinfo{
        text-align: center;
        left: 10%;
        margin-top: 20%;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    .des2 {
        background-image: url("../image/11.jpg");
        background-position: bottom;
        background-size: 64rem;
        overflow: hidden;
        width: 100%;
        height: 40rem;
        overflow: hidden;
    }
    .des2info a {
        display: flex;
        justify-content: flex-end;
        margin-top: 13em;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    
    /* intro */
    .greeding {
        position: absolute;
        margin: 0% 39% ;
        font-size: 1rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
        text-shadow:1px 2px 2px #000 ;
    }
    .title {
        position: absolute;
        margin: 80% 26% 20%;
        font-size: .6rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
    }

    .cake{
        background-image: url("../image/28.jpg");
        background-position: center;
        background-size: 60rem;
        overflow: hidden;
        border: 2px solid #000;
        width: 100%;
        height: 62.6rem;
    }
    /* end intro */

    /* start homepage */
    .content {
        clear: both;
        display: flex;
        justify-content: space-around;
        margin: 2%;
    }
    .menu {
        background-image: url("../image/10.jpg");
        background-position: top;
        background-size: 28rem;
        margin: 0 1% 0;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .menu a {
        text-decoration: none;
    }
    
    .menu a {
        text-align: center;
        color: rgb(43, 43, 43);
        font-size: 1.2rem;
    }


    .mng {
        
        background-image: url("../image/12.jpg");
        background-position: top;
        background-size: 30rem;
        overflow: hidden;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .mng a{
        text-decoration: none;
    }
    .mng a {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }
    #contc {
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
    
        }
        .contcdtl {
            background-color:  #f7c2c9;
            overflow: hidden;
            margin: 0 0 5% 5%;
            width: 90%;
            height: 19rem;
            border-radius: 4%;
        }
    

    .open {
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 44rem !important;
        margin-top: 1.4rem;
        margin-bottom: 1.8rem;
        text-align: center;
    }
    .aboutxt {
        font-size: 2rem;
        padding: 5% 10%;
        letter-spacing: .8px;
    }
    
    .notice {
        background-color: rgb(230, 230, 230);
        padding: 5% 10%;
        text-align: center;
        color: rgb(26, 26, 26);
        font-size: 2rem;
    }
    
    /* end homepage */


/* start footer */
footer {
    margin-top: 2rem;
    width: 100%;
    bottom: 0%;
    position: relative;
    height: 10rem;
    background-color: #222222;
}
    .footer-content {
        display:flex;
        justify-content: space-around;
        font-size: 2rem;
        color: #ffffff;
    }
    .address, .info {
        margin-top: 1.8rem;
    }
    .address p {
        margin-bottom: 4px;
    }
    .info p {
        margin-bottom: 4px;
    }
    .info a{
        color: #ffffff;
    }
    /* End footer */

  }
  
  
  /********** Small devices only  (ipad)**********/
  @media (min-width: 768px) and (max-width: 991px) {
    .des {
        background-image: url("../image/18.jpg");
        background-position: center;
        background-size: 48rem;
        overflow: hidden;
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .desinfo{
        text-align: center;
        left: 10%;
        margin-top: 20%;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    .des2 {
        background-image: url("../image/11.jpg");
        background-position: bottom;
        background-size: 48rem;
        overflow: hidden;
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .des2info a {
        display: flex;
        justify-content: flex-end;
        margin-top: 13em;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    
    /* intro */
    .greeding {
        position: absolute;
        margin: 0% 39% ;
        font-size: 1rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
        text-shadow:1px 2px 2px #000 ;
    }
    .title {
        position: absolute;
        margin: 80% 26% 20%;
        font-size: .6rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
    }

    .cake{
        background-image: url("../image/28.jpg");
        background-position: center;
        background-size: 38rem;
        overflow: hidden;
        border: 2px solid #000;
        width: 100%;
        height: 46.6rem;
    }
    /* end intro */

    /* start homepage */
    .content {
        clear: both;
        display: flex;
        justify-content: space-around;
    }
    .menu {
        background-image: url("../image/10.jpg");
        background-position: top;
        background-size: 26rem;
        margin: 2%;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .menu a {
        text-decoration: none;
    }
    
    .menu a {
        text-align: center;
        color: rgb(43, 43, 43);
        font-size: 1.2rem;
    }


    .mng {
        margin: 2%;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .mngimg {
        background-image: url("../image/12.jpg");
        background-position: top;
        background-size: 27rem;
        overflow: hidden;
        width: 100%;
        height: 100%;
    } 
    
    .mng a {
        text-decoration: none;
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }
    
    #contc {
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
    
        }
        .contcdtl {
            background-color:  #f7c2c9;
            overflow: hidden;
            margin: 5% 0 5% 5%;
            width: 90%;
            height: 19rem;
            border-radius: 4%;
        }
    

    .open {
        background-color: rgb(230, 230, 230);
        width: 100%;
        height: 48rem !important;
        margin-bottom: 1.8rem;
        text-align: center;
    }
    .aboutxt {
        font-size: 1.8rem;
        padding: 5% 10%;
        letter-spacing: .8px;
    }
    
    .notice {
        background-color: rgb(230, 230, 230);
        padding: 5% 10%;
        text-align: center;
        color: rgb(26, 26, 26);
        font-size: 1.8rem;
    }
    
    /* end homepage */


/* start footer */
footer {
    margin-top: 2rem;
    width: 100%;
    bottom: 0%;
    position: relative;
    height: 8rem;
    background-color: #222222;
}
    .footer-content {
        display:flex;
        justify-content: space-around;
        font-size: large;
        color: #ffffff;
    }
    .address, .info {
        margin-top: 1.8rem;
    }
    .address p {
        margin-bottom: 4px;
    }
    .info p {
        margin-bottom: 4px;
    }
    .info a{
        color: #ffffff;
    }
    /* End footer */

  }
  
  
  /********** Extra small devices only (SURFACE DOU)**********/
  @media (min-width: 480px) and (max-width: 767px) {

    .des {
        background-image: url("../image/18.jpg");
        background-position: center;
        background-size: 34rem;
        overflow: hidden;
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .desinfo{
        text-align: center;
        left: 10%;
        margin-top: 20%;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    .des2 {
        background-image: url("../image/11.jpg");
        background-position: bottom;
        background-size: 34rem;
        overflow: hidden;
        width: 100%;
        height: 20rem;
        overflow: hidden;
    }
    .des2info a {
        display: flex;
        justify-content: flex-end;
        margin-top: 13em;
        color: rgb(226, 226, 226);
        font-size: large;
    }
    
    .greeding {
        position: absolute;
        margin: 0% 30% ;
        font-size: 1rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
        text-shadow:1px 2px 2px #000 ;
    }
    .title {
        position: absolute;
        margin: 80% 26% 20%;
        font-size: .6rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
    }

    .cake{
        background-image: url("../image/28.jpg");
        background-position: center;
        background-size: 33rem;
        overflow: hidden;
        border: 2px solid #000;
        width: 100%;
        height: 33rem;
    }

    /* start homepage */
    .content {
        clear: both;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-around;
        margin: 2%;
    }
    .menu {
        background-image: url("../image/10.jpg");
        background-position: top;
        background-size: 28rem;
        margin-bottom: 2%;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .menu a {
        text-decoration: none;
    }
    
    .menu a {
        text-align: center;
        color: rgb(43, 43, 43);
        font-size: 1.2rem;
    }


    .mng {
        
        background-image: url("../image/12.jpg");
        background-position: top;
        background-size: 30rem;
        overflow: hidden;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .mng a{
        text-decoration: none;
    }
    .mng a {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }
    #contc {
        color: #fff;
        text-align: center;
        font-size: 1.8rem;
    
        }
        .contcdtl {
            background-color:  #f7c2c9;
            overflow: hidden;
            margin: 0 0 5% 5%;
            width: 90%;
            height: 19rem;
            border-radius: 4%;
        }
    
    /* end homepage */


/* start footer */
footer {
    margin-top: 2rem;
    width: 100%;
    bottom: 0%;
    position: relative;
    height: 8rem;
    background-color: #222222;
    }   
    .footer-content {
        display:flex;
        justify-content: space-around;
        font-size: large;
        color: #ffffff;
    }
    .address, .info {
        margin-top: 1.8rem;
    }
    .address p {
        margin-bottom: 4px;
    }
    .info p {
        margin-bottom: 4px;
    }
    .info a{
        color: #ffffff;
    }
    /* End footer */

  }
  
  /********** Super extra small devices Only :-) (e.g., pixel 2) **********/

@media (min-width: 377px) and (max-width: 479px) {
        .intro {
            margin-top: 3.6rem;
        }
        /* home */
        .des {
            background-size: 26rem;
            height: 22rem;
            overflow: hidden;
        }
        .desinfo{
            text-align: center;
            left: 10%;
            margin-top: 30%;
            color: rgb(226, 226, 226);
            font-size: large;
        }
    
        .des2 {
            height: 22rem;
            overflow: hidden;
        }
    
        /* end home */

        .greeding {
            position: absolute;
            margin: 0% 30% ;
            font-size: 1rem;
            color: #FFF2F2;
            font-style:italic;
            letter-spacing: 0.4rem;
            text-shadow:1px 2px 2px #000 ;
        }
        .title {
            position: absolute;
            margin: 80% 26% 20%;
            font-size: .6rem;
            color: #FFF2F2;
            font-style:italic;
            letter-spacing: 0.4rem;
        }

        .cake{
            background-image: url("../image/28.jpg");
            background-position: center;
            background-size: 33rem;
            overflow: hidden;
            border: 2px solid #000;
            width: 100%;
            height: 33rem;
        }

        /* start homepage */
        .content {
            clear: both;
            display: flex;
            flex-flow: column;
        }
        .menu {
            background-image: url("../image/10.jpg");
            background-position: top;
            background-size: 26rem;
            margin: 5% 0 0 5%;
            width: 90%;
            height: 18rem;
            border-radius: 4%;
        }
        .menu a {
            text-decoration: none;
        }
        
        .menu a {
            text-align: center;
            color: rgb(43, 43, 43);
            font-size: 1.2rem;
        }


        .mng {
            
            background-image: url("../image/12.jpg");
            background-position: top;
            background-size: 27rem;
            overflow: hidden;
            margin: 5% 0 5% 5%;
            width: 90%;
            height: 18rem;
            border-radius: 4%;
        }
        .mng a{
            text-decoration: none;
        }
        .mng a {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
        }

        #contc {
        color: #fff;
        text-align: center;
        font-size: 1.8rem;

        }
        .contcdtl {
            background-color:  #f7c2c9;
            overflow: hidden;
            margin: 5% 0 5% 5%;
            width: 90%;
            height: 19rem;
            border-radius: 4%;
        }
    
    
    /* end homepage */


    /* start footer */
    footer {
        margin-top: 2rem;
        width: 100%;
        bottom: 0%;
        position: relative;
        height: 4rem;
        background-color: #222222;
        }
        .footer-content {
            display:flex;
            justify-content: space-around;
            font-size: 1rem;
            color: #ffffff;
        }
        .address, .info {
            margin-top: .6em;
        }
        .address p {
            margin-bottom: 4px;
        }
        .info p {
            margin-bottom: 4px;
        }
        .info a{
            color: #ffffff;
        }
        /* End footer */
}

/********** Super super extra small devices Only :-) (e.g., iPhone 6) **********/

@media (min-width:361px) and (max-width: 376px) {

    .intro {
        margin-top: 3.6rem;
    }
    /* home */
    .des {
        height: 22rem;
        overflow: hidden;
    }
    .desinfo{
        text-align: center;
        left: 10%;
        margin-top: 30%;
        color: rgb(226, 226, 226);
        font-size: large;
    }

    .des2 {
        height: 22rem;
        overflow: hidden;
    }

    /* end home */

    .greeding {
        position: absolute;
        margin: 0% 30% ;
        font-size: 1rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
        text-shadow:1px 2px 2px #000 ;
    }
    .title {
        position: absolute;
        margin: 80% 26% 20%;
        font-size: .6rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
    }

    .cake{
        background-image: url("../image/28.jpg");
        background-position: center;
        background-size: 33rem;
        overflow: hidden;
        border: 2px solid #000;
        width: 100%;
        height: 33rem;
    }

    /* start homepage */
    .content {
        clear: both;
        display: flex;
        flex-flow: column;
    }
    .menu {
        background-image: url("../image/10.jpg");
        background-position: top;
        background-size: 26rem;
        margin: 5% 0 0 5%;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .menu a {
        text-decoration: none;
    }
    
    .menu a {
        text-align: center;
        color: rgb(43, 43, 43);
        font-size: 1.2rem;
    }


    .mng {
        
        background-image: url("../image/12.jpg");
        background-position: top;
        background-size: 27rem;
        overflow: hidden;
        margin: 5% 0 5% 5%;
        width: 90%;
        height: 18rem;
        border-radius: 4%;
    }
    .mng a{
        text-decoration: none;
    }
    .mng a {
        text-align: center;
        color: rgb(255, 255, 255);
        font-size: 1.2rem;
    }

    #contc {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;

    }
    .contcdtl {
        background-color:  #f7c2c9;
        overflow: hidden;
        margin: 5% 0 5% 5%;
        width: 90%;
        height: 19rem;
        border-radius: 4%;
    }

    /* start footer */
        footer {
            margin-top: 2rem;
            width: 100%;
            bottom: 0%;
            position: relative;
            height: 4rem;
            background-color: #222222;
        }
        .footer-content {
            display:flex;
            justify-content: space-around;
            font-size: 1rem;
            color: #ffffff;
        }
        .address, .info {
            margin-top: .6em;
        }
        .address p {
            margin-bottom: 4px;
        }
        .info p {
            margin-bottom: 4px;
        }
        .info a{
            color: #ffffff;
        }
        /* End footer */
}

@media (max-width:360px) {

    .intro {
        margin-top: 3.6rem;
    }
    /* home */
    .des {
        height: 22rem;
        overflow: hidden;
    }
    .desinfo{
        text-align: center;
        left: 10%;
        margin-top: 30%;
        color: rgb(226, 226, 226);
        font-size: large;
    }

    .des2 {
        height: 22rem;
        overflow: hidden;
    }

    /* end home */

    .greeding {
        position: absolute;
        margin: 0% 30% ;
        font-size: 1rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
        text-shadow:1px 2px 2px #000 ;
    }
    .title {
        position: absolute;
        margin: 80% 26% 20%;
        font-size: .6rem;
        color: #FFF2F2;
        font-style:italic;
        letter-spacing: 0.4rem;
    }

    .cake{
        background-image: url("../image/28.jpg");
        background-position: center;
        background-size: 33rem;
        overflow: hidden;
        border: 2px solid #000;
        width: 100%;
        height: 33rem;
    }


        .menu {
            background-image: url("../image/10.jpg");
            background-position: top;
            background-size: 26rem;
            margin: 5% 0 0 5%;
            width: 90%;
            height: 18rem;
            border-radius: 4%;
        }
        .menu a {
            text-decoration: none;
        }

        .menu a {
            text-align: center;
            color: rgb(43, 43, 43);
            font-size: 1.2rem;
        }


        .mng {
            
            background-image: url("../image/12.jpg");
            background-position: top;
            background-size: 27rem;
            overflow: hidden;
            margin: 5% 0 5% 5%;
            width: 90%;
            height: 18rem;
            border-radius: 4%;
        }
        .mng a{
            text-decoration: none;
        }
        .mng a {
            text-align: center;
            color: rgb(255, 255, 255);
            font-size: 1.2rem;
        }
        #contc {
            color: #fff;
            text-align: center;
            font-size: 1.8rem;
        
            }
            .contcdtl {
                background-color:  #f7c2c9;
                overflow: hidden;
                margin: 5% 0 5% 5%;
                width: 90%;
                height: 19rem;
                border-radius: 4%;
            }
        
        /* start footer */
        footer {
            margin-top: 2rem;
            width: 100%;
            bottom: 0%;
            position: relative;
            height: 4rem;
            background-color: #222222;
        }
        .footer-content {
            display:flex;
            justify-content: space-around;
            font-size: 1rem;
            color: #ffffff;
        }
        .address, .info {
            margin-top: .6em;
        }
        .address p {
            margin-bottom: 4px;
        }
        .info p {
            margin-bottom: 4px;
        }
        .info a{
            color: #ffffff;
        }
        /* End footer */
}